# ignore all vim-generated swap files
*.swp

# ignore whatever this is
.DS_STORE

# ignore all log files
*.log

# Ignore all python cache files
*.pyc
# ignore everything in the pycache directory
__pycache__/
__pycache__

# Ignore all docs
_templates
_build
_static
