# ignore all vim-generated swap files
*.swp

.idea/

# ignore whatever this is
.DS_STORE

# ignore all log files
*.log

# Ignore all python cache files
*.pyc
# ignore everything in the pycache directory
__pycache__/
__pycache__

_build/
*.buildinfo

.coverage

build/
dist/
rcwa.egg-info/

debugging_notes

htmlcov/
