[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coverage = "*"
coveralls = "*"
numpy = "*"
pandas = "*"
scipy = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
setuptools = "*"
wheel = "*"
pyyaml = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
autograd = "*"
matplotlib = "*"
progressbar = "*"

[dev-packages]
pipenv = "*"

[requires]
python_version = "3.9"

[scripts]
test = "python3 -m pytest -s --cov=./rcwa --cov-report xml --cov-config=.coveragerc"
build = "python3 setup.py sdist bdist_wheel"
